# Python virtual environment
venv/

# Python cache
__pycache__/
*/__pycache__/

# Python compiled files
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Old synthetic-data backup
old_synthetic_backup/